@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inconsolata:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inconsolata:wght@200..900&family=Play:wght@400;700&display=swap');
.header{
    background: #e0dede;
    height: 40px;
    color: rgb(96, 97, 99);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    padding-top: 2px;
}

.align{
    
    background: #e0dede;
    height: 70px;
    color: rgb(117, 117, 119);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
    }

    h1{
        font-family: "Ubuntu Sans", sans-serif;
      font-style: normal;
      position: absolute;
        font-size: 70px;
        font-weight: bold;
        color: rgb(117, 117, 119);
       top: 10px;
        left: 650px;
        
    }

   li{
    display: inline-block;
   text-align: justify;
    font-family: "Ubuntu Sans", sans-serif;
  font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    font-size: larger;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
}

li:hover{
    cursor: pointer;
    background-color: rgb(226, 224, 224) ;
}





    .image{
        margin-left: 10px;
        margin-right: 10px;
        
        
    }

    .body2{
        display: flex;
        justify-content: space-between;
        height: 500px;
        width: 1437px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        
    }

    .box{
            height: 500px;
            width: 325px;
            text-align: left;
            font-family: "Play", sans-serif;
          font-weight: 700;
           text-indent: 5px;
        text-align: center;
        color: #6a6a67;
background-color: rgb(240, 236, 236);
border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }


.box1{
            height: 500px;
            width: 325px;
            font-family: "Play", sans-serif;
          font-weight: 700;
           text-indent: 5px;
        text-align: center;
        color: #6a6a67;
background-color: rgb(240, 236, 236);
border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .box2{
        height: 500px;
        width: 325px;
        font-family: "Play", sans-serif;
        font-weight: 700;
         text-indent: 5px;
      text-align: center;
      color: #6a6a67;
background-color: rgb(240, 236, 236);
border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box:hover, .box1:hover, .box2:hover{
    cursor: pointer;
    background-color: #c2d8e186;
    transform: scale(0.9);
}

.last{
    display: flex;
    justify-content: space-between;
    background-color:rgb(240, 236, 236);
    height: 500px;
    width: 1437px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
   overflow: hidden;
   
}
.last1{
    display: flex;
    
    align-items: end;

}


.last2{
   text-align: justify;
    background-color:solid transparent;
    height: 200px;
    width: 800px ;
    margin-left: 30px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-left: 20px;
border-radius: 10px;
font-size: 20px;
line-height: 40px;
padding-left: 20px;
color: rgb(125, 123, 123);
}

.oneofeverythingbox{
   
    display: flex;
    align-items: center;

   
}

.oneofeverything{
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: absolute;
    left: 100px;
    top:1450px ;
    background-color: solid transparent;
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    color: rgb(74, 72, 72);
    
}



.lastpicture{
    background-color: #cde251;
    height: 600px;
    width: 1437px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}
    
.container{
    display: flex;
    justify-content: center;
}
   
.lasttext{
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 600;
    color:  rgb(117, 117, 119);
    font-size: 450px;
    top: 10px;
    bottom: 100px;
    position: absolute;
    top: 2370px;
}

.textual{
    display: flex;
    justify-content: right;
    width: 500px;
    flex-wrap: wrap;
   
}

h4{
    background-color: solid transparent;
    position: absolute;
    top: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 60px;
    color: #6a6a67;
   left: 1050px;
    margin-right: 10px;
    line-height: 100px;
}